Hi there!<form>
  <div class="form-group">
    <label for="chamber">Chamber</label>
    {{input value=chamber id="chamber"}}
  </div>

  <div class="form-group">
    <label for="sub">Is it a Subcommittee? (true/false)</label>
    {{input value=sub id="sub"}}
  </div>
  <button class="btn btn-primary" {{action 'committeeLookup'}}>Submit</button>
</form>
