Hi there!<form>
  <div class="form-group">
    <label for="chamber">Chamber</label>
    {{input value=chamber id="chamber"}}
  </div>

  <button class="btn btn-primary" {{action 'committeeLookup'}}>Submit</button>
</form>
